---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import BtnWa from '../components/BtnWa.astro';
---

<Layout
	title="Especialista en Climatización Auncion"
	description="¡Bienvenido a ClimatizaPy! Soy Denis, tu especialista en climatización. Descubre mis servicios personalizados de instalación y mantenimiento de aires acondicionados split. ¡Mantén tu hogar fresco y confortable con mis soluciones de climatización diseñadas especialmente para ti!">
	<Hero />
	<main class="py-8 px-2">
		<!-- Sección de servicios -->
		<section class="container mx-auto mt-8 text-white" id="servicios">
			<h2 class="text-2xl font-semibold mb-4 text-gray-900">Mis Servicios</h2>
			<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
				<li class="bg-gray-900 p-6 rounded-lg shadow-md">
					<h3 class="text-xl font-semibold mb-2 text-white">
						Instalación de Aires Split
					</h3>
					<p>
						Realizo la instalación de aires acondicionados split de forma
						eficiente y profesional.
					</p>
				</li>
				<li class="bg-gray-900 p-6 rounded-lg shadow-md">
					<h3 class="text-xl font-semibold mb-2 text-white">
						Mantenimiento Preventivo
					</h3>
					<p>
						Ofrezco servicios de mantenimiento preventivo para asegurar el
						funcionamiento óptimo de tus equipos.
					</p>
				</li>
				<li class="bg-gray-900 p-6 rounded-lg shadow-md">
					<h3 class="text-xl font-semibold mb-2 text-white">
						Reparación y Diagnóstico
					</h3>
					<p>
						Cuento con experiencia en la reparación y diagnóstico de fallas en
						aires acondicionados.
					</p>
				</li>
			</ul>
			<div class="text-center mt-8">
				<a
					href="/servicios"
					class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-full"
					>Más Info de los Servicios</a
				>
			</div>
		</section>

		<!-- Sección de contacto -->
		<section class="mt-8 container mx-auto">
			<h2 class="text-2xl font-semibold mb-4">Contáctame</h2>
			<p class="text-lg text-gray-700 leading-relaxed mb-4">
				Para más información o para solicitar mis servicios, no dudes en ponerte
				en contacto conmigo:
			</p>
			<BtnWa texto="WhatsApp" />
		</section>
	</main>
</Layout>
