---
const { texto, href } = Astro.props;
---

<div class="text-center">
	<a
		href={href || 'https://wa.me/595986550235'}
		class="inline-block bg-green-500 text-white py-3 px-6 rounded-md shadow-md hover:bg-green-600 transition-colors duration-300">
		{texto}
	</a>
</div>
