---
const links = [
	{
		name: 'Inicio',
		href: '/',
	},
	{
		name: 'Servicios',
		href: '/servicios',
	},
	{
		name: 'Info',
		href: '/blog',
	},
	{
		name: 'Contacto',
		href: '/contacto',
	},
	{
		name: 'Preguntas Frecuentes',
		href: '/faq',
	},
];
---

<footer class="bg-gray-800 shadow-lg">
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-20">
		<span class="text-sm sm:text-center text-gray-400"
			>© 2023 <a href="/" class="hover:underline">ClimatizaPY</a>
		</span>
		<ul
			class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0">
			{
				links.map((link) => (
					<a
						href={link.href}
						class="text-gray-300  block px-6 py-2 rounded-md font-medium hover:text-green-500">
						{link.name}
					</a>
				))
			}
		</ul>
	</div>
</footer>
