---
const links = [
	{
		name: 'Inicio',
		href: '/',
	},
	{
		name: 'Servicios',
		href: '/servicios',
	},
	{
		name: 'Blog',
		href: '/blog',
	},
	{
		name: 'Contacto',
		href: '/contacto',
	},
	{
		name: 'Preguntas Frecuentes',
		href: '/faq',
	},
];
---

<nav class="bg-gray-800 shadow-lg">
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center h-16">
		<!-- Logo -->
		<div>
			<a
				href="/"
				class="text-white text-2xl font-semibold hover:text-green-500 transition-colors duration-300"
				>Climatiza<span class="text-green-500">Py</span></a
			>
		</div>
		<!-- Navbar links -->
		<div class="hidden sm:block">
			<div class="flex space-x-4 justify-center navbar-links">
				{
					links.map((link) => (
						<a
							href={link.href}
							class="text-gray-300 hover:bg-green-500 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
							{link.name}
						</a>
					))
				}
			</div>
		</div>
		<!-- Mobile menu button -->
		<div class="flex items-center sm:hidden">
			<button
				id="mobile-menu-button"
				class="text-gray-300 hover:text-white focus:outline-none focus:text-white">
				Menu
				<svg
					class="h-6 w-6"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h16m-7 6h7">
					</path>
				</svg>
			</button>
		</div>
	</div>

	<!-- Mobile menu -->
	<div id="mobile-menu" class="sm:hidden hidden bg-gray-800">
		<div class="px-2 pt-2 pb-3 space-y-1">
			{
				links.map((link) => (
					<a
						href={link.href}
						class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
						{link.name}
					</a>
				))
			}
		</div>
	</div>
</nav>

<script is:inline>
	// Ejecutamos este script después de que el DOM esté completamente cargado
	document.addEventListener('DOMContentLoaded', function () {
		// Toggle mobile menu
		document
			.getElementById('mobile-menu-button')
			.addEventListener('click', function () {
				document.getElementById('mobile-menu').classList.toggle('hidden');
			});
	});
</script>
