---
import Layout from '../../layouts/Layout.astro';
import BtnWa from '../../components/BtnWa.astro';
---

<Layout
	title="Diagnóstico y Asesoría Técnica en Climatización"
	description="Ofrecemos servicios de diagnóstico y asesoría técnica especializada en sistemas de climatización en Asunción y ciudades cercanas. Optimiza el rendimiento de tus equipos con nuestro servicio experto."
	image="/service.png">
	<section class="bg-white">
		<div class="container mx-auto px-4 py-12 text-center">
			<h1 class="text-3xl font-semibold text-gray-800 mb-4">
				Diagnóstico y Asesoría Técnica en Climatización
			</h1>
			<p class="text-gray-600 mb-6">
				En ClimatizaPy proporcionamos servicios especializados de diagnóstico y
				asesoría técnica para sistemas de climatización en Asunción y áreas
				circundantes. Nuestro equipo de expertos está capacitado para resolver
				problemas complejos y optimizar el rendimiento de tus equipos de
				climatización.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Servicios que ofrecemos:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>
					<strong>Análisis de Problemas:</strong> Realizamos un diagnóstico exhaustivo
					para identificar y solucionar problemas en tus sistemas de climatización.
				</li>
				<li>
					<strong>Optimización de Eficiencia:</strong> Evaluamos el rendimiento de
					tus equipos para mejorar la eficiencia energética y reducir costos operativos.
				</li>
				<li>
					<strong>Asesoría Especializada:</strong> Brindamos recomendaciones técnicas
					para el mantenimiento preventivo y correctivo de tus sistemas de climatización.
				</li>
				<li>
					<strong>Implementación de Mejoras:</strong> Proponemos soluciones innovadoras
					para optimizar el confort térmico y la calidad del aire en tus espacios.
				</li>
				<li>
					<strong>Consultoría Personalizada:</strong> Adaptamos nuestros servicios
					a las necesidades específicas de tu residencia o negocio en Asunción y
					ciudades cercanas.
				</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Beneficios de nuestro servicio:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>
					Acceso a la experiencia y conocimientos de nuestro equipo técnico
					altamente capacitado.
				</li>
				<li>
					Mejora continua del rendimiento y la eficiencia de tus sistemas de
					climatización.
				</li>
				<li>
					Reducción de riesgos de averías y prolongación de la vida útil de tus
					equipos.
				</li>
				<li>
					Asistencia profesional para la toma de decisiones estratégicas en el
					mantenimiento y actualización de tus sistemas.
				</li>
				<li>
					Servicio disponible para residencias y comercios en Asunción, Areguá,
					Capiatá, Fernando de la Mora, Guarambaré, Itá, Itauguá, Julián Augusto
					Saldívar, Lambaré, Limpio, Luque, Mariano Roque Alonso, Nueva Italia,
					Ñemby, San Antonio, San Lorenzo, Villa Elisa, Villeta y Ypacaraí.
				</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Detalles adicionales:
			</h2>
			<p class="text-gray-600 mb-6">
				Para más información sobre nuestros servicios de diagnóstico y asesoría
				técnica en climatización, o para agendar una consulta, no dudes en
				contactarnos. Estamos comprometidos a proporcionarte soluciones
				efectivas y personalizadas para tus necesidades de climatización.
			</p>
		</div>
		<div class="mb-10">
			<BtnWa texto="Solicita tu Presupuesto " />
		</div>
	</section>
</Layout>
