---
import BtnWa from '../../components/BtnWa.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout
	title="Instalación de Sistemas de Refrigeración Comercial"
	description="Descubre nuestros servicios de instalación de sistemas de refrigeración comercial en Asunción. Expertos en soluciones adaptadas para negocios y empresas"
	image="/service.png">
	<section class="bg-white">
		<div class="container mx-auto px-4 py-12 text-center">
			<h1 class="text-3xl font-semibold text-gray-800 mb-4">
				Instalación de Sistemas de Refrigeración Comercial
			</h1>
			<p class="text-gray-600 mb-6">
				En ClimatizaPy nos especializamos en la instalación profesional de
				sistemas de refrigeración comercial en Asunción. Ofrecemos soluciones
				adaptadas a las necesidades específicas de tu negocio para asegurar la
				conservación óptima de tus productos.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Servicios que ofrecemos:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>
					Planificación y diseño personalizado de sistemas de refrigeración
					comercial.
				</li>
				<li>Instalación de unidades de refrigeración de alto rendimiento.</li>
				<li>
					Conexión y configuración de equipos conforme a normativas y
					estándares.
				</li>
				<li>
					Pruebas exhaustivas de funcionamiento y rendimiento de los sistemas.
				</li>
				<li>
					Asesoramiento técnico en el mantenimiento y cuidado de los sistemas
					instalados.
				</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Beneficios de nuestro servicio:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>Optimización del rendimiento energético y costos operativos.</li>
				<li>Conservación efectiva y prolongada de productos perecederos.</li>
				<li>
					Soluciones personalizadas adaptadas a las necesidades de tu negocio.
				</li>
				<li>
					Garantía de calidad y satisfacción en cada instalación realizada.
				</li>
				<li>
					Servicio disponible para negocios y empresas en Asunción y ciudades
					cercanas.
				</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Detalles adicionales:
			</h2>
			<p class="text-gray-600 mb-6">
				Para más detalles sobre costos, planificación o cualquier consulta
				adicional sobre nuestra instalación de sistemas de refrigeración
				comercial, no dudes en contactarnos. Estamos aquí para ofrecerte
				soluciones efectivas y profesionales.
			</p>
		</div>
	</section>
	<div class="mb-10">
		<BtnWa texto="Solicita tu Presupuesto " />
	</div>
</Layout>
