---
import BtnWa from '../../components/BtnWa.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout
	title="Instalación de Aire Acondicionado Split en Asunción"
	description="Descubre nuestro servicio profesional de instalación de aire acondicionado split en Asunción. Instalamos equipos eficientes y de alta calidad para mantener tu hogar u oficina fresca y confortable."
	image="/service.png">
	<section class="bg-white">
		<div class="container mx-auto px-4 py-12 text-center">
			<h1 class="text-3xl font-semibold text-gray-800 mb-4">
				Instalación de Aire Acondicionado Split
			</h1>
			<p class="text-gray-600 mb-6">
				En ClimatizaPy ofrecemos un servicio profesional y eficiente de
				instalación de aire acondicionado split en Asunción y áreas cercanas.
				Nuestro objetivo es proporcionarte confort y bienestar con equipos de
				calidad y un servicio de instalación de primera.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Detalles del Servicio:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>
					Evaluación del Espacio: Antes de la instalación, evaluamos el espacio
					para determinar la ubicación óptima de la unidad interior y exterior.
				</li>
				<li>
					Instalación de Unidades: Instalamos unidades split en residencias y
					oficinas, asegurando una distribución uniforme del aire.
				</li>
				<li>
					Conexión y Puesta en Marcha: Conectamos la unidad a la red eléctrica y
					realizamos la puesta en marcha para verificar su correcto
					funcionamiento.
				</li>
				<li>
					Garantía: Todas nuestras instalaciones vienen con una garantía para tu
					tranquilidad.
				</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				¿Por qué elegirnos?
			</h2>
			<p class="text-gray-600 mb-6">
				Somos especialistas en climatización con años de experiencia en el
				sector. Garantizamos un servicio personalizado y de alta calidad que
				superará tus expectativas.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">Costos</h2>
			<p class="text-gray-600 mb-6">
				Para obtener un presupuesto personalizado y más información sobre
				nuestros servicios de instalación de aire acondicionado split,
				contáctanos hoy mismo. Estamos aquí para ayudarte a climatizar tu
				espacio de manera eficiente y efectiva.
			</p>

			<table class="mx-auto mt-6 w-full max-w-4xl text-gray-600">
				<thead>
					<tr class="bg-gray-200">
						<th class="px-4 py-2">BTU</th>
						<th class="px-4 py-2">Costo de Instalación</th>
					</tr>
				</thead>
				<tbody>
					<tr class="bg-gray-100">
						<td class="border px-4 py-2">9.000</td>
						<td class="border px-4 py-2">350.000 ₲</td>
					</tr>
					<tr class="bg-white">
						<td class="border px-4 py-2">12.000</td>
						<td class="border px-4 py-2">350.000 ₲</td>
					</tr>
					<tr class="bg-gray-100">
						<td class="border px-4 py-2">18.000</td>
						<td class="border px-4 py-2">350.000 ₲</td>
					</tr>
					<tr class="bg-white">
						<td class="border px-4 py-2">24.000</td>
						<td class="border px-4 py-2">450.000 ₲</td>
					</tr>
					<tr class="bg-gray-100">
						<td class="border px-4 py-2">30.000</td>
						<td class="border px-4 py-2">450.000 ₲</td>
					</tr>
					<tr class="bg-white">
						<td class="border px-4 py-2">36.000</td>
						<td class="border px-4 py-2">750.000 ₲</td>
					</tr>

					<tr class="bg-gray-100">
						<td class="border px-4 py-2">Piso techo y/o Casset</td>
						<td class="border px-4 py-2">1.000.000 ₲</td>
					</tr>
				</tbody>
			</table>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4 mt-8">
				Aclaraciones
			</h2>
			<p class="text-gray-600 mb-6">
				Si el cliente solicita la desinstalación de su anterior aire
				acondicionado y la instalación del nuevo, tendrá un costo extra de
				50.000 Gs.
			</p>
			<p class="text-gray-600 mb-6">
				<strong>Obs:</strong> KIT DE INSTALACIÓN BÁSICO de 9000 BTU a 18000 BTU 350,000
				GS aprox si el equipo no cuenta con las tuberias.
			</p>
			<p class="text-gray-600 mb-6">
				<strong>Obs:</strong> KIT DE INSTALACIÓN BÁSICO XL 1,150,000 GS aprox para
				equipos a partir de 36000 BTU.
			</p>
			<p class="text-gray-600 mb-6">
				<strong>Obs:</strong> En los casos de instalación de los AA de PISO TECHO
				/ CASSET, al precio de instalación ya fijado por BTU se le suma el costo
				del KIT de instalación, ese precio solo contempla hasta 3 metros de cañería,
				si se desea más, tendrá un valor añadido.
			</p>
			<p class="text-gray-600 mb-6">
				<strong>Obs 2:</strong> En el precio de una instalación de AA de 9.000 BTU
				hasta 36.000 BTU (SPLIT), incluye la mano de obra y el soporte del compresor
				(ménsula).
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Zonas de Cobertura
			</h2>
			<p class="text-gray-600 mb-6">
				Servicio disponible para residencias y comercios en Asunción, Areguá,
				Capiatá, Fernando de la Mora, Guarambaré, Itá, Itauguá, J. Augusto
				Saldívar, Lambaré, Limpio, Luque, Mariano Roque Alonso, Nueva Italia,
				Ñemby, San Antonio, San Lorenzo, Villa Elisa, Villeta, Ypacaraí.
			</p>
		</div>

		<div class="mb-10">
			<BtnWa texto="Solicita tu Instalación de Aire Acondicionado Split " />
		</div>
	</section>
</Layout>
