---
import Layout from '../../layouts/Layout.astro';
import BtnWa from '../../components/BtnWa.astro';
---

<Layout
	title="Instalación de Aire Acondicionado Trifásico Comercial"
	description="Descubre nuestro servicio profesional de instalación de aire acondicionado trifásico en Asunción. Instalamos sistemas robustos y eficientes para espacios comerciales y grandes superficies."
	image="/service.png">
	<section class="bg-white">
		<div class="container mx-auto px-4 py-12 text-center">
			<h1 class="text-3xl font-semibold text-gray-800 mb-4">
				Instalación de Aire Acondicionado Trifásico
			</h1>
			<p class="text-gray-600 mb-6">
				En ClimatizaPy ofrecemos servicios especializados de instalación de aire
				acondicionado trifásico en Asunción y sus alrededores. Nos
				especializamos en proporcionar soluciones de climatización eficientes y
				adaptadas a espacios comerciales y grandes superficies.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Beneficios de nuestros servicios:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>
					Instalación profesional de sistemas trifásicos de aire acondicionado.
				</li>
				<li>Equipos robustos y de alta capacidad para grandes espacios.</li>
				<li>
					Control de temperatura y confort adaptado a necesidades comerciales.
				</li>
				<li>
					Asesoramiento técnico para la selección del sistema más adecuado.
				</li>
				<li>Garantía de satisfacción y servicio post-instalación.</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				¿Por qué elegirnos?
			</h2>
			<p class="text-gray-600 mb-6">
				Somos expertos en climatización comercial con un historial probado de
				instalaciones exitosas. Nuestro compromiso es ofrecer soluciones de alta
				calidad que optimicen el confort y la eficiencia energética de tu
				negocio.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">Costos</h2>
			<p class="text-gray-600 mb-6">
				Para obtener un presupuesto detallado y más información sobre nuestros
				servicios de instalación de aire acondicionado trifásico, contáctanos
				hoy mismo. Estamos aquí para ayudarte a mantener un ambiente confortable
				y productivo en tu espacio comercial.
			</p>
		</div>
		<div class="mb-10">
			<BtnWa texto="Solicita tu Presupuesto " />
		</div>
	</section>
</Layout>
