---
import BtnWa from '../../components/BtnWa.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout
	title="Mantenimiento de Aire Acondicionado en Asunción"
	description="Descubre nuestro servicio de mantenimiento profesional para aires acondicionados en Asunción. Ofrecemos limpieza, ajustes y reparaciones preventivas para asegurar la eficiencia de tu sistema."
	image="/service.png">
	<section class="bg-white">
		<div class="container mx-auto px-4 py-12 text-center">
			<h1 class="text-3xl font-semibold text-gray-800 mb-4">
				Mantenimiento de Aire Acondicionado
			</h1>
			<p class="text-gray-600 mb-6">
				En ClimatizaPy nos especializamos en el mantenimiento preventivo y
				correctivo de sistemas de aire acondicionado en Asunción. Nuestro
				servicio está diseñado para prolongar la vida útil de tus equipos y
				garantizar un funcionamiento óptimo durante todo el año.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Servicios que ofrecemos:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>Limpieza profunda de filtros, serpentines y componentes clave.</li>
				<li>Inspección técnica para detectar y reparar posibles fallas.</li>
				<li>Ajustes de rendimiento para mejorar la eficiencia energética.</li>
				<li>
					Recomendaciones personalizadas para el cuidado continuo de tu sistema.
				</li>
				<li>Servicio rápido y eficiente con técnicos capacitados.</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Beneficios de nuestro servicio:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>Optimización del rendimiento y eficiencia energética.</li>
				<li>Reducción de costos operativos y reparaciones futuras.</li>
				<li>
					Ambientes más limpios y saludables para tus clientes y empleados.
				</li>
				<li>Programa de mantenimiento personalizado según tus necesidades.</li>
				<li>Garantía de satisfacción y respuesta rápida ante emergencias.</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Detalles de costos y programación:
			</h2>
			<p class="text-gray-600 mb-6">
				Para obtener un presupuesto detallado o programar tu servicio de
				mantenimiento de aire acondicionado, contáctanos hoy mismo. Estamos
				comprometidos a proporcionar soluciones confiables y efectivas para
				mantener tu confort y productividad.
			</p>
		</div>
		<div class="mb-10">
			<BtnWa texto="Solicita tu Mantenimiento " />
		</div>
	</section>
</Layout>
