---
import BtnWa from '../../components/BtnWa.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout
	title="Reparación de Aire Acondicionado en Asunción"
	description="Descubre nuestros servicios de reparación de aire acondicionado en Asunción. Expertos en diagnóstico y solución rápida de problemas para asegurar el confort de tu hogar u oficina."
	image="/service.png">
	<section class="bg-white">
		<div class="container mx-auto px-4 py-12 text-center">
			<h1 class="text-3xl font-semibold text-gray-800 mb-4">
				Reparación de Aire Acondicionado
			</h1>
			<p class="text-gray-600 mb-6">
				En ClimatizaPy somos especialistas en la reparación efectiva y rápida de
				sistemas de aire acondicionado en Asunción. Nos dedicamos a resolver
				problemas de manera eficiente para restaurar el confort en tu hogar u
				oficina.
			</p>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Servicios que ofrecemos:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>Diagnóstico preciso de fallas y problemas de funcionamiento.</li>
				<li>Reparación de componentes dañados o defectuosos.</li>
				<li>
					Reemplazo de partes y piezas conforme a las normas del fabricante.
				</li>
				<li>
					Pruebas de funcionamiento para verificar la eficiencia y rendimiento.
				</li>
				<li>
					Asesoramiento técnico y recomendaciones para evitar futuras averías.
				</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Beneficios de nuestro servicio:
			</h2>
			<ul class="text-left text-gray-600 mb-6">
				<li>Restauración rápida del confort en tu ambiente.</li>
				<li>
					Experiencia y conocimientos avanzados en sistemas de aire
					acondicionado.
				</li>
				<li>
					Respuesta rápida y eficiente ante emergencias y reparaciones urgentes.
				</li>
				<li>Garantía de satisfacción y servicio al cliente de calidad.</li>
				<li>
					Servicio disponible para residencias y comercios en Asunción, Areguá,
					Capiatá, Fernando de la Mora, Guarambaré, Itá, Itauguá, J. Augusto
					Saldívar, Lambaré, Limpio, Luque, Mariano Roque Alonso, Ñemby, San
					Antonio, San Lorenzo, Villa Elisa, Villeta, Ypacaraí.
				</li>
			</ul>

			<h2 class="text-2xl font-semibold text-gray-800 mb-4">
				Detalles de costos y presupuestos:
			</h2>
			<p class="text-gray-600 mb-6">
				Para obtener un presupuesto detallado o programar tu servicio de
				reparación de aire acondicionado, contáctanos hoy mismo. Estamos
				comprometidos a proporcionar soluciones rápidas y confiables para tus
				necesidades de climatización.
			</p>
		</div>
	</section>

	<div class="mb-10">
		<BtnWa texto="Solicita tu Reparación de Aire Acondicionado " />
	</div>
</Layout>
